extends ../layout/base 
block content 
    section.content-header 
        h1 
            | Projects
            small new
        ol.breadcrumb 
            li 
                a(href='#') 
                    i.fa.fa-dashboard
                    | Level 
            li.active Here 
    section.content
        .box
            .box-header.with-border
                h3.box-title
                    | New Project
                .box-tools.pull-right
                    button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
                        i.fa.fa-minus
                     
            .box-body
                form(role='form',method='post' action='/projects/new')
                    .row
                         
                        .col-xs-6
                            .box-body
                                - if (messages.msg_error) 
                                    .alert.alert-danger.alert-dismissable 
                                        button.close(type='button', data-dismiss='alert', aria-hidden='true') 
                                            | ×
                                        h4
                                            i.icon.fa.fa-ban
                                            | Alert! 
                                        | !{messages.msg_error}
                                .form-group
                                    label
                                        | Title
                                    input(type='text',value='#{title}',name='title',placeholder='Title').form-control
                                .form-group
                                    label
                                        | Description
                                    textarea(name='description',placeholder='Description').form-control
                                        | #{description}
                                .form-group
                                    label
                                        | Price
                                    input(type='text',value='#{price}',name='price',placeholder='Price').form-control
                                .form-group
                                    label
                                        | Completed work
                                    textarea(name='completed_work',placeholder='Completed work').form-control
                                        | #{completed_work}
                                .form-group
                                    label
                                        | Start date
                                    input(type='date',name='start_date',placeholder='Start date').form-control
                                .form-group
                                    label
                                        | End date
                                    input(type='date',name='end_date',placeholder='End date').form-control
                                .form-group
                                    label
                                        | Team members
                                    textarea(name='team_members',placeholder='Team members').form-control
                                        | #{team_members}
                            .box-footer
                                button(type='submit').btn.btn-primary
                                    | Submit
                                a(href='/projects').btn.btn-primary.pull-right
                                    | Back