extends ../layout/base 
block content 
    section.content-header 
        h1 
            | Edit Customer
            small menu for editing customer data
        ol.breadcrumb 
            li 
                a(href='#') 
                    i.fa.fa-dashboard
                    | Level 
            li.active Here 
    section.content
        .box
            .box-header.with-border
                h3.box-title
                    | Customer
                .box-tools.pull-right
                    button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
                        i.fa.fa-minus
                     
            .box-body
                form(role='form',method='post' action='/projects/edit/#{(id==undefined) ? data.id : id}')
                    .row
                         
                        .col-xs-6
                            .box-body
                                - if (messages.msg_error) 
                                    .alert.alert-danger.alert-dismissable 
                                        button.close(type='button', data-dismiss='alert', aria-hidden='true') 
                                            | ×
                                        h4
                                            i.icon.fa.fa-ban
                                            | Alert! 
                                        | !{messages.msg_error}
                                - if (messages.msg_info) 
                                    .alert.alert-success.alert-dismissable 
                                        button.close(type='button', data-dismiss='alert', aria-hidden='true') 
                                            | ×
                                        h4
                                            i.icon.fa.fa-ban
                                            | Success! 
                                        | !{messages.msg_info}
                                .form-group
                                    label
                                        | Title
                                    input(type='text',value='#{data.title}',name='title',placeholder='Title').form-control
                                .form-group
                                    label
                                        | Description
                                    textarea(name='description',placeholder='Description').form-control
                                        | #{data.description}
                                .form-group
                                    label
                                        | Price
                                    input(type='text',value='#{data.price}',name='price',placeholder='Price').form-control
                                .form-group
                                    label
                                        | Completed work
                                    textarea(name='completed_work',placeholder='Completed work').form-control
                                        | #{data.completed_work}
                                .form-group
                                    label
                                        | Start date
                                    input(type='date',value='#{moment(data.start_date).format("YYYY-MM-DD")}',name='start_date',placeholder='Start date').form-control
                                .form-group
                                    label
                                        | End date
                                    input(type='date',value='#{moment(data.end_date).format("YYYY-MM-DD")}',name='end_date',placeholder='End date').form-control
                                .form-group
                                    label
                                        | Team members
                                    textarea(name='team_members',placeholder='Team members').form-control
                                        | #{data.team_members}
                            .box-footer
                                input(type="hidden",name="_method", value="PUT")
                                button(type='submit').btn.btn-primary
                                    i.fa.fa-pencil 
                                    |  Edit
                                a(href='/projects').btn.btn-primary.pull-right
                                    | Back