extends ../layout/base 
block content 
    section.content-header 
        h1 
            | Projects
            small all existing projects
        ol.breadcrumb 
            li 
                a(href='#') 
                    i.fa.fa-dashboard
                    | Level 
            li.active Here 
    section.content
        .box
            .box-header.with-border
                h3.box-title
                    | Projects
                .box-tools.pull-right
                    button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
                        i.fa.fa-minus
            .box-body
                - if(messages.msg_info)
                    .alert.alert-success.alert-dismissable
                        button.close(type='button', data-dismiss='alert', aria-hidden='true')
                            | ×
                        h4
                            i.icon.fa.fa-check
                            | Success!
                        | !{messages.msg_info}
                - if(messages.msg_error)
                    .alert.alert-danger.alert-dismissable
                        button.close(type='button', data-dismiss='alert', aria-hidden='true')
                            | ×
                        h4
                            i.icon.fa.fa-ban
                            | Alert!
                        | !{messages.msg_error}
                a(href='projects/new').pull-left.btn.btn-primary
                    i.fa.fa-plus 
                    |  Add Project
                .data-table
                    table.table.table-bordered
                        tr
                            th
                                | ID
                            th
                                | Title
                            th
                                | Description
                            th
                                | Price
                            th
                                | Completed work
                            th
                                | Start date
                            th
                                | End date
                            th
                                | 
                            if messages.msg_error
                                | !{messages.msg_error}
                            else
                                for row, index in data 
                                    tr
                                        td #{row.id}
                                        td #{row.title}
                                        td #{row.description}
                                        td #{row.price}
                                        td #{row.completed_work}
                                        td #{moment(row.start_date).format('DD/MM/YYYY')}
                                        td #{moment(row.end_date).format('DD/MM/YYYY')}
                                        td
                                            div(style='display:inline-block')
                                                a(href='/projects/edit/#{row.id}').btn.btn-xs.btn-primary
                                                        i.fa.fa-edit
                                            | 
                                            div(style='display:inline-block')
                                                form(method='post', action='/projects/delete/#{row.id}')
                                                    input(type="hidden",name="_method", value="DELETE")
                                                    button.btn.btn-xs.btn-danger(type='submit')
                                                        i.fa.fa-remove