doctype html
html
    head
        include header.jade
    body.hold-transition.skin-blue.sidebar-mini
        .wrapper
            include navigation.jade
            include sidebar.jade
            .content-wrapper
                block content
            include js.jade