aside.main-sidebar
    section.sidebar
        .user-panel
            .pull-left.image
                img(src='https://randomuser.me/api/portraits/lego/1.jpg',alt='User Image').img-circle
            .pull-left.info
                p #{session.user.name}
                a(href='#')
                    i.fa.fa-circle.text-success 
                    | Online
        form(action='#',method='get').sidebar-form
            .input-group
                input(type='text', name='q',placeholder='Search...').form-control
                span.input-group-btn
                        button(type='submit', name='search')#search-btn.btn.btn-flat
                            i.fa-fa-search
        ul.sidebar-menu
            li.header
                | Main Navigation
            li.treeview
                a(href='#')
                    i.fa.fa-files-o
                    span
                        | Projects
                    span.pull-right-container
                        i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li
                        a(href='/projects')
                            i.fa.fa-circle-o
                            | List
                    li
                        a(href='/projects/new')
                            i.fa.fa-circle-o
                            | New